:root {
    --welcome: lightblue;
    --navigation: lightgreen;
    --closing: lightpink;
    --wiggle-color: darkblue;
    --light-background: #faebd7;
    --dark-text-color: #03035d;
}

@mixin transitionColor($color, $newColor) {
    background-color: $color;
    .wiggle svg {
        background-color: $newColor;
        color: $color;
    }
}

.welcome {
    @include transitionColor(var(--welcome), var(--navigation));
}

.navigation {
    @include transitionColor(var(--navigation), var(--closing));
}

.light {
    @include transitionColor(var(--light-background), var(--navigation));
}

.page {
    @include transitionColor(var(--welcome), var(--closing));
}

.footer {
    @include transitionColor(var(--closing), var(--closing))
}