.flex {
    display:flex;
}
.flex-center {
    justify-content: center;
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.c2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.c4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

@media screen and (min-width: 768px) {
    .c4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .c2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}


.g-column {
    grid-row-start: 1;
    grid-row-end: -1;
}

.g-row {
    grid-column-start: 1;
    grid-column-end: -1;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}