.wiggle {
    --wiggle-color: darkblue;
    --wiggle-size: .1rem;
    --wiggle-speed: 4s;
}

.wiggle svg {
    overflow: visible;
    stroke: var(--wiggle-color);
    fill: none;
}

.wiggle .line {
    fill: currentColor;
    stroke-width: var(--wiggle-size);
    stroke-linecap: round;
    animation: wiggle var(--wiggle-speed) linear infinite;
}

#content > *:nth-child(even) .wiggle path {
    animation-direction: reverse;
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-142.14285714285714px);
    }
}
