.wiggle {
    --wiggle-height: 10vw;
    --wiggle-width: 80vw;
    --wiggle: path("M 0 10 c 2.04914649302637 0 1.9508535069736301 -4 4 -4 s 1.9508535069736301 4 4 4 s 1.9508535069736301 -4 4 -4 s 1.9508535069736301 4 4 4 s 1.9508535069736301 -4 4 -4 s 1.9508535069736301 4 4 4 s 1.9508535069736301 -4 4 -4");
    --wiggle-color: green;
    --wiggle-size: .1rem;
    --wiggle-speed: 8s;
}

.wiggle svg {
    height: var(--wiggle-height);
    width: var(--wiggle-width);
    margin: auto;
}

.wiggle path {
    fill: none;
    stroke: var(--wiggle-color);
    stroke-width: var(--wiggle-size);
    stroke-linecap: round;
    animation: wiggle var(--wiggle-speed) linear infinite;
    d: var(--wiggle);
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}