@import "partials/display";
@import "partials/text";
@import "partials/colors";
@import "partials/wiggles";
@import "partials/bubbles";
@import "partials/container";

:root {
    --distance-sm: 1rem;
    --distance-md: 2rem;
    --distance-lg: 4rem;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.block {
    height: 90vh;
}

.block-border {
    border-top: 1px solid orange;
    border-bottom: 1px solid red;
}

.top-border {
    border-bottom: 1px solid black;
}

.logo svg {
    width: 70vw;
    max-width: 90ch;
    max-height: 47vh;
}

.mw-md {
    max-width: 40ch;
}

.logo {
    padding: 1rem 0;
}

.h-sm {
    height: 3ch;
}           

.underline {
    text-decoration: underline;
}

.max-width {
    max-width: 90ch;
    margin-left: auto;
    margin-right: auto;
}

.gap-sm {
    grid-gap: 1rem;
}

.list {
    max-width: 70ch;
    width: 76vw;
}

.large-text {
    font-size: 2.5rem;
}

.large-height {
    height: 2.5rem;
}

.medium-height {
    height: 1.5rem;
}

.standard-height {
    height: 1rem;
}

.link-emoji {
    text-decoration: none;
}

.flavor-icon {
    text-decoration: none;
    filter: drop-shadow(2px 4px 6px black);
}

.low-shadow {
    filter: drop-shadow(1px 2px 4px black);
}

.flavor-link:hover .flavor-icon, .flavor-link:focus .flavor-icon {
    filter: drop-shadow(2px 4px 8px var(--light-background));
}

.link-text-shadow:hover, .link-text-shadow:focus {
    text-shadow: 0.6px 1.2px 3.2px;
}

.link-text-shadow {
    text-shadow: 0.3px .6px 1.8px;
}

.flavor-link {
    font-size: larger;
    text-decoration: none;
}

.brand-logos .icon-svg {
    filter:blur(1px);
    transition: filter .1s;
    height: 4rem;
}

.brand-logos a:hover .icon-svg, .brand-logos a:focus .icon-svg {
    filter:none;
}

.review-link .icon-svg {
    height: 1.75rem;
}

.m-top-sm {
    margin-top: var(--distance-sm);
}

.mb-md {
    margin-bottom: var(--distance-md);
}

.mb-sm {
    margin-bottom: var(--distance-sm);
}

.ma-sm {
    margin: var(--distance-sm);
}

.mt-none {
    margin-top: 0;
}

.pa-sm {
    padding: var(--distance-sm);
}

.pv-lg {
    padding-top: var(--distance-lg);
    padding-bottom: var(--distance-lg);
}

.preview-score:hover .preview-score-text, .preview-score:focus .preview-score-text {
    fill: var(--light-background);
}

.preview-score-text {
    font-size: 2.5rem;
    transition: fill .1s;
}

.rating-score {
    text-decoration-thickness: 2px;
}
