@import "partials/display";
@import "partials/text";
@import "partials/colors";
@import "partials/wiggles";
@import "partials/bubbles";

body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

.block {
    height: 90vh;
}

.block-border {
    border-top: 1px solid orange;
    border-bottom: 1px solid red;
}

.top-border {
    border-bottom: 1px solid black;
}

.logo svg {
    width: 70vw;
}

.logo {
    padding: 1rem 0;
}