@import "partials/display";
@import "partials/text";
@import "partials/colors";
@import "partials/wiggles";
@import "partials/bubbles";

:root {
    --distance-sm: 1rem;
    --distance-md: 2rem;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: x-large;
}

.larger {
    font-size: larger;
}

.block {
    height: 90vh;
}

.block-border {
    border-top: 1px solid orange;
    border-bottom: 1px solid red;
}

.top-border {
    border-bottom: 1px solid black;
}

.logo svg {
    width: 70vw;
    max-width: 90ch;
}

.mw-md {
    max-width: 40ch;
}

.logo {
    padding: 1rem 0;
}

.h-sm {
    height: 3ch;
}           

.underline {
    text-decoration: underline;
}

.list {
    max-width: 70ch;
    width: 76vw;
    grid-gap: 1rem;
}

.flavor-icon {
    font-size: xxx-large;
    text-decoration: none;
}

.flavor-link {
    font-size: larger;
    text-decoration: none;
}

.preview-link {
    text-decoration: none;
}

.icon-svg {
    height: 4rem;
}

.m-top-sm {
    margin-top: var(--distance-sm);
}

.m-bottom-md {
    margin-bottom: var(--distance-md);
}

.m-bottom-sm {
    margin-bottom: var(--distance-sm);
}

.ma-sm {
    margin: var(--distance-sm);
}

.pa-sm {
    padding: var(--distance-sm);
}
