<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body class="{{ .Kind }} {{ .Layout }} bg-dark">
        {{- partial "header.html" . -}}
        <dl>
        <dt>Quality</dt>
        <dl>{{ .Params.category }}</dl>
        <dt>Tags</dt>
        <dl>{{ delimit .Params.tags ", " }}</dl>
        </dl>
        {{ .Params.category }}
        {{ .Params.tags }}
        {{ .TableOfContents }}
        Word count: {{ .WordCount }}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "netlify-identity.html" . -}}
    </body>
</html>