{{ $flavors := site.Taxonomies.flavors.ByCount }}
{{ $brand := site.Taxonomies.brand.ByCount }}

{{with .Site.GetPage "/flavors" }}
<div class="flex flex-center">
    <div>
        <h2 class="tc wavy">{{ .Title }}</h2>
        <div class="list grid max-width c4 gap-sm">
            {{ range $flavors }}
                {{- partial "link-taxonomy-icon.html" .Page }}
            {{ end }}
        </div>
    </div>
</div>    
{{end}}
{{with .Site.GetPage "/brands" }}
    <div class="flex flex-center mb-md">
        <div>
            <h2 class="tc wavy">{{ .Title }}</h2>
            <div class="list grid max-width c2 gap-sm">
                {{ range .Pages }}
                    {{- partial "link-taxonomy-icon.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
{{end}}