{{ $flavors := site.Taxonomies.flavors.ByCount }}
{{ $brand := site.Taxonomies.brand.ByCount }}

{{with .Site.GetPage "/flavors" }}
<div class="flex flex-center">
    <div>
        <h2 class="tc">{{ .Title }}</h2>
        <div class="list grid c4">
            {{ range $flavors }}
                {{ partial "link-taxonomy-icon.html" .Page }}
            {{ end }}
        </div>
    </div>
</div>    
{{end}}
{{with .Site.GetPage "/brand" }}
    <div class="flex flex-center m-bottom-md">
        <div>
            <h2 class="tc">{{ .Title }}</h2>
            <div class="list grid c2">
                {{ range .Pages }}
                    {{ partial "link-taxonomy-icon.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
{{end}}