<div class="flex flex-center">
    {{with .Site.GetPage "/flavors" }}
    <div>
        <h2 class="tc">{{ .Title }}</h2>
        <div class="list grid c4">
            {{ range .Pages }}
                {{ partial "link-taxonomy-icon.html" . }}
            {{ end }}
        </div>
    </div>
    {{end}}
</div>
{{with .Site.GetPage "/brands" }}
    <div class="flex flex-center m-bottom-md">
        <div>
            <h2 class="tc">{{ .Title }}</h2>
            <div class="list grid c2">
                {{ range .Pages }}
                    {{ partial "link-taxonomy-icon.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
{{end}}